@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    background-color: rgb(231, 218, 215);

}
.container {
  margin-top: 50px;
  
}
.to-do-container {
    width: 550px;
    background-color: rgb(245, 246, 243);
    border-style:ridge;
    border-radius: 5px;
    font-family:'raleway';
    font-size: 18px;
}
.title {
    font-family: 'raleway' ;
    text-align: center;
    font-size: 65px;
    color: rgb(214, 194, 194);
}

.delete-button {
    background: whitesmoke;
    
    font-size: 1rem;
    cursor: pointer;
 display:none
}
.todo-count {
    font-size: 15px;
    border-top: 1px solid #cccccc;
}
.task-item {
    border-bottom: 1px  solid #cccccc;
    padding: 15px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.task-item:hover .delete-button{
    display: inline-block;
}