@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    background-color: rgb(231, 218, 215);

}
.container {
  margin-top: 50px;
  
}
.to-do-container {
    width: 600px;
    background-color: rgb(245, 246, 243);
    border-style:ridge;
    border-radius: 5px;
    font-family:'raleway';
    font-size: 18px;
}
.title {
    font-family: 'raleway' ;
    text-align: center;
    font-size: 70px;
    color: rgb(214, 194, 194);
}

.delete-button {
    background: whitesmoke;
    
    font-size: 1rem;
    cursor: pointer;
 display:none
}
.todo-count {
    border-style: ;
}

.task-item:hover .delete-button{
    display: inline-block;
}